<div class="container limit">
    <nav class="navbar navbar-expand navbar-light py-4">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['']">Wendryl Santos</a>
            <button class="btn btn-outline-dark d-md-none d-sm-flex" (click)="toggleNavbar()">
                <i class="fas fa-bars"></i>
            </button>
            <div class="flex-grow-0 d-none d-md-flex">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['']">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['']">POSTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['']">ABOUT ME</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="d-md-none navbar navbar-expand navbar-light pb-sm-3 mobile-nav  animate__animated animate__fadeInDown" *ngIf="displayMobileNavbar">
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['']">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">POSTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">ABOUT ME</a>
            </li>
            <li class="nav-item d-flex justify-content-evenly">
                <a href="https://github.com/wendryl">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://linkedin.com/in/wendryl-santos">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>