<div class="row w-100">
  <app-sidebar class="col-2 col-md-1"></app-sidebar>
  <div class="col-10 col-md-11 py-3">
    <div class="row gx-3 gy-3">
      <app-dashboard-card
        iconColor="success"
        cardIcon="fa-building"
        cardLabel="Fornecedores"
        [cardCount]="companyCounter"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        iconColor="danger"
        cardIcon="fa-boxes"
        cardLabel="Produtos"
        [cardCount]="productCounter"
        cardLink="manage-products"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        iconColor="secondary"
        cardIcon="fa-tags"
        cardLabel="Categorias"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        iconColor="primary"
        cardIcon="fa-users"
        cardLabel="Usuários"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        iconColor="info"
        cardIcon="fa-smile"
        cardLabel="Clientes"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        iconColor="warning"
        cardIcon="fa-chart-line"
        cardLabel="Vendas"
        class="col-md-4">
      </app-dashboard-card>
    </div>
  </div>
</div>
