<div class="row w-100">
  <app-sidebar class="col-2 col-md-1"></app-sidebar>
  <div class="col-10 col-md-11 py-3">
    <div class="row gx-3 gy-3">
      <app-dashboard-card
        cardIcon="fa-tag"
        cardLabel="Categorias"
        cardCount="2"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        cardIcon="fa-boxes"
        cardLabel="Produtos"
        cardCount="8"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        cardIcon="fa-users"
        cardLabel="Usuários"
        cardCount="8"
        class="col-md-4">
      </app-dashboard-card>
    </div>
  </div>
</div>
