<app-navbar></app-navbar>
<app-social-bar class="d-none d-md-block"></app-social-bar>
<div class="container limit px-3">
    <a [routerLink]="['']" class="btn btn-link my-3 px-2">
        <i class="fas fa-arrow-left mx-2"></i>
        Back to Home
    </a>
    <div class="row">
        <h1>
            Post Title
        </h1>
        <img class="mb-4" src="https://www.tunepocket.com/wp-main/uploads/Royalty-Free-Indie-Music-1.jpg">
    </div>
    <h3 class="my-3">
        <strong>Heading</strong>
    </h3>
    <p class="my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec commodo ex, quis elementum libero. Fusce in
        gravida odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque suscipit enim id ante
        porta tempus. Duis tristique auctor justo in molestie. Fusce sit amet ante nisl. Mauris at odio quis nunc
        accumsan posuere et a tortor. Fusce eleifend efficitur libero at porttitor. Fusce sed ultricies massa. Nunc
        rutrum vitae nulla posuere lacinia. Vestibulum vel urna lobortis risus suscipit posuere id eget mi.
    </p>
    <p class="my-4">
        Vivamus vel enim vitae diam <em>tincidunt viverra.</em> Phasellus laoreet ligula rhoncus nunc pharetra elementum.
        Suspendisse ut ipsum metus. Fusce vestibulum imperdiet nibh, vel vehicula nunc fermentum eget. Sed suscipit
        magna at quam pharetra venenatis. Cras sit amet pharetra sapien, at interdum erat. Duis malesuada magna eget
        libero cursus, at ultrices nisi iaculis. <b>Praesent interdum </b>non nunc vitae placerat. Vestibulum tempus ipsum
        lorem, at interdum diam consectetur sed.
    </p>
    <h4 class="my-3">
        <strong>Another Heading</strong>
    </h4>
    <p class="my-4">
        Sed aliquet pulvinar rhoncus. Praesent libero sapien, vehicula vitae mi eu, volutpat sagittis dolor. Aliquam
        euismod ipsum at congue malesuada. Morbi leo est, scelerisque ac tristique ut, elementum et ipsum. Nam hendrerit
        non erat sagittis congue. <strong>Vivamus vitae</strong> rutrum nisl. Sed nec odio euismod, vestibulum dui eu, aliquam magna.
        Mauris id sapien tortor. Mauris aliquam lorem sem, eu auctor turpis ornare vehicula. Duis erat nisl, consectetur
        at pellentesque sed, aliquam a est. Vivamus rhoncus ex at ex gravida, ac sollicitudin ex mattis. Nunc cursus
        mauris eget justo porta euismod. Sed quis enim rutrum, cursus tortor vel, laoreet purus. Morbi at leo fringilla,
        aliquam nibh in, fringilla dolor. Praesent sodales massa a turpis interdum luctus.
    </p>
    <p class="my-4">
        Phasellus velit risus, ornare sed rutrum at, tristique sit amet elit. Curabitur in mauris et nibh rhoncus
        consectetur id non mi. Suspendisse sit amet odio et dui sodales gravida bibendum quis massa. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Aliquam fermentum elementum commodo. Aliquam in sodales nunc, in vehicula augue.
    </p>
</div>
<app-footer></app-footer>