<div class="d-flex align-items-center position-absolute wrapper">
    <form class="px-3 px-md-0" [formGroup]="loginForm">
        <div class="text-center my-1">
            <img src="../../../assets/img/logo.png">
            <h4 class="text-center my-2">
                Sistema de Gerência de Estoque
            </h4>
        </div>
        <h5 class="text-center my-2 text-primary">
            Login
        </h5>
        <div class="mb-3">
            <app-input [invalid]="!!(loginForm.invalid && loginForm.controls.email.errors)" id="email" label="Email"
                                                                                                       type="email" placeholder="Your e-mail" formControlName="email">
            </app-input>
            <span *ngIf="loginForm.invalid && loginForm.controls.email.errors" class="small text-danger">
                Usuário Inválido
            </span>
        </div>
        <div class="mb-3">
            <app-input [invalid]="!!(loginForm.invalid && loginForm.controls.password.errors)" id="password"
                                                                                               label="Password" type="password" placeholder="Your password" formControlName="password"></app-input>
            <span *ngIf="loginForm.invalid && loginForm.controls.password.errors" class="small text-danger">
                A senha não pode estar vazia
            </span>
        </div>
        <div class="d-flex justify-content-center">
            <button [class]="loading ? 'btn btn-primary disabled w-100' : 'btn btn-primary w-100'" (click)="submitForm($event)">
                <span class="spinner-border spinner-border-sm mx-2" *ngIf="loading"></span>
                <span *ngIf="!loading">Login</span>
            </button>
        </div>
    </form>
</div>